(
    name: "Pop Pass",
    description: "Syntax: pass [account]",
    bin: (path: "pop_pass"),
    icon: Name("dialog-password"),
    query: (
        regex: "^pass\\s.*",
        isolate: true,
        help: "pass",
    )
)